body {
    background-color: #fff;
    font-size: x-large;
}
.bg-img {
    padding-top: 200px;
    background: cover;
}

.styl {
    font-family: 'Dongle', sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
    color: #fff;
}
.menu {
    color: #fff;
}
.menu:active,
.menu:hover {
    color: #eee31b;
}
.logo {
    color: #c9782c;
    font-size: 3rem;
    font-weight: 900;
    font-family: 'Dongle', sans-serif;
}
.logo:hover {
    color: #ab0d17;
}
.image-container {
    position: relative;
}
.blog-pic {
    position: relative;
    display: inline-block;
}
.card-body {
    margin-top: 80px;
}
.card-body-box:hover {
    border-color:rgb(82, 68, 68);
    box-shadow: 3px 3px 3px 3px rgba(82, 68, 68);
}
.pop {
    position: absolute;
    background-color: rgba(170, 135, 135, 0,6);
}

.author {
    color:black;
    font-family: 'Dongle', sans-serif;
    font-size: 2rem;
}

.light bg {
    background-color: #536565;
}
.main-bc {
    background-color: #fff;
}
.dark-bg {
    background-color: #536565;
}
.text {
    padding-top: 90px;
    font-family: 'Dongle', sans-serif;
    font-size: large;
}
.signin {
    padding-top: 80px;
    font-family: 'Dongle', sans-serif;
}
.btn-signin {
    background-color: #919999;
    font-family: 'Dongle', sans-serif;
}
.btn-signin:hover {
    background-color: #666b6b;
}

.register {
    padding-top: 80px;
    font-family: 'Dongle', sans-serif;
}
.btn-regist {
    background-color: #919999;
    font-family: 'Dongle', sans-serif;
}
.btn-regist:hover {
    background-color: #666b6b;
}

.logout {
    padding-top: 80px;
    font-family: 'Dongle', sans-serif;
}

.btn-out {
    background-color: #919999;
    font-family: 'Dongle', sans-serif;
}
.btn-out:hover {
    background-color: #666b6b;
}
.comments {
    float: left;
    padding: 20px;
    margin: 20px;
    font-family: 'Dongle', sans-serif;
}
.comments p {
    font-weight: bold;
}
.dates {
    font-weight: lighter;
}