body {
    font-size: x-large;
    background: url(/static/images/ps4pic.jpg);
    background: cover;
}
header {
    padding-top: 100px;
    position: relative;
}
#hero {
    width: 100%;
}
.card-img {
    height: auto;
    background: no-repeat;
    max-width: 100%;
}
.bg-img {
    padding-top: 100px;
    background: cover;
}
h2, h3 {
    font-weight: 800;
}
h4 {
    font-weight: 700;
}
h5 {
    font-weight: 600;
}
p {
    font-weight: 500;
}
.btn {
    background-color: #919999;
    color: black;
}
.btn:active,
.btn:hover {
    background-color: #ce6c11;
}
.card-group {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    color: black;
}
.menu {
    color: #fff;
}
.menu:active,
.menu:hover {
    color: #eee31b;
}
.logo {
    color: #c9782c;
    font-size: 3rem;
    font-weight: 900;
    font-family: 'Lato', sans-serif;
}
.logo:hover {
    color: #ab0d17;
}
.image-container {
    position: relative;
}
.blog-pic {
    position: relative;
    display: inline-block;
}
.card {
    padding: auto;
}
.card:active
.card:hover {
    border-color:rgb(82, 68, 68);
    box-shadow: 3px 3px 3px 3px rgba(82, 68, 68);
}
.pop {
    position: absolute;
    background-color: rgba(170, 135, 135, 0,6);
}

.author {
    color:black;
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
}

.light bg {
    background-color: #536565;
}
.main-bc {
    background-color: #fff;
}
.dark-bg {
    background-color: #536565;
}
.text {
    padding-top: 90px;
    font-family: 'Lato', sans-serif;
    font-size: large;
}
.signin {
    padding-top: 80px;   
}
.register {
    padding-top: 80px;
}
.logout {
    padding-top: 80px;
}

.comments {
    float: left;
    padding: 20px;
    margin: 20px;
    font-weight: 700;
}
.comments p {
    font-weight: 400;
}
.dates {
    font-weight: 400;
}
.pic-com {
    max-width: 200px;
}
#alert_msg {
    padding-top: 500px;
    position: fixed;
    z-index: 1;
}