{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        
        {% for post in storie_list %}
        <div class="col-md-12">
            <div class="card-body">
                <div class="image-container-fluid">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="card">
                                <div class="card-body-box">
                                    <h3 class="card-title"> {{ post.title }} </h3>
                                    {% if "placeholder" in post.posted_image.url %}
                                    <img class="card-img-top" 
                                    src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg">
                                    {% else %}
                                    <img class="card-img-top" src="{{ post.posted_image.url }}">
                                    {% endif %}
                                    <div class="image-pop">
                                        <p class="author"><i class="fas fa-comment"></i> {{ post.author }}</p>
                                        
                                    </div>
                                    <p class="card-text text-muted"> {{ post.content }} </p>
                                    <a href="{% url 'storie_detail' post.slug %}" class="btn btn-primary">Comment</a>
                                    <p class="card-text text-muted h5"><i class="fas fa-comments"></i> {{ post.posted_date }} <i class="fas fa-thumbs-up"></i> {{ post.likes }}</p>
                                </div>
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        
        {{ contact.full_name|upper }}<br>

        {% endfor %}
        {% if is_paginated%}
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
        
                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
        
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
        {% endif %}
    </div>
</div>

{% endblock content %}