{% extends 'base.html' %}

{% block content %}
{% load static %}

<!-- Header -->
<header>
    <div>
        <div class="col-md-8 px-0" id="hero">
            <img class="img-fluid" src="{% static 'images/ps5controller.png' %}" alt="hero-image">
            <div class="card-img-overlay text-light d-flex justify-content-center align-items-end">
                <h2 class="head my-4 mt-3 text-black text-center">Play, share, comment</h2>
            </div>
            
        </div>
        <div class="card-img-overlay text-black justify-content-center float-right" style="padding-top: 140px">
            {% block sidebar %} {% include 'aboutus.html' %} {% endblock sidebar %}
        </div>
        
    </div>
</header>
<br>
<!-- Blog section -->
<section>
    <div class="container">    
        <div class="row" id="post-row">
            <!-- Iterating through the list -->
            {% for post in poststorie %}
            <div class="col-sm-6">
                <div class="card" id="post-box">
                    <div class="bg-image">
                        <h3 class="card-title"> {{ post.title }} </h3>
                        {% if "placeholder" in post.posted_image.url %}
                        <img class="d-block w-100" 
                        src="{% static 'images/ps5controller.png' %}">
                        {% else %}
                        <img class="d-block w-100" src="{{ post.posted_image.url }}" alt="picture">
                        {% endif %}
                        <p class="author"><i class="fas fa-comment"></i> {{ post.author }}</p>                    
                        <a href="{% url 'storie_detail' pk=post.id %}" class="btn btn-primary">Comment</a>
                        <p class="card-text text-muted h5"><i class="fas fa-comments"></i> {{ post.posted_date }} <i class="fas fa-thumbs-up"></i> {{ post.gamers_like }}</p>
                        <a href="{% url 'storie_update' pk=post.id %}" class="btn btn-primary">Update</a>
                        <a href="{% url 'storie_delete' pk=post.id %}" class="btn btn-primary">Delete</a>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>

    

    <!-- Page pagination -->
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            </li>
            {% endif %}
            {% if page_obj.has_next %}
            <li>                
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            </li>
            {% endif %}
            
        </ul>
    </nav>
    {% endif %}
    
    
</section>
{% endblock content %}